
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
    color: #fff;
}

.header {
    width: 100%;
}

.header__body {
    display: flex;
    padding: 25px;
    align-items: center;
}

.header__left {
    background-color: red;
    margin-right: 20px;
    display: flex;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
}

.header__left-logo {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.header__left-logo-2 {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-top: 3px;
    margin-left: 3px;
}

.header__left-recording-text {
    font-family: Arial, 'Helvetica';
}

.header__right {
    width: 100%;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    height: 30px;
}

.header__right-logo-nickname {
    display: flex;
}

.header__right-logo {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #dd0a0a;
    margin-left: 20px;
}

.header__right-nickname {
    font-family: Arial, 'Helvetica';
    color: #fff;
    margin-left: 20px;
}

.header__right-stop-transletion {
    font-family: Arial, 'Helvetica';
    color: #0d56aa;
    margin-right: 20px;
}

/* ------------------------------MAIN------------------------------- */

.main {
    width: 100%;
    background-color: #141516;
}

.main__body {
    margin-top: 40px;
    display: flex;
}

.main__body-translation-img {
    margin-left: 22px;
    padding: 10px;
}

.main__body-more-people-block {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.people-box {
    width: 200px;
    height: 100px;
    background-color: #343434;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
    background: url(./img/img-dog.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 4px 8px #0daa6e;
    transition: 0.8s;
}

.people-box:hover {
    width: 190px;
    height: 90px;
    box-shadow: 3px 4px 8px #fb4af866;
}

.people-box1-text {
    text-align: center;
    margin-top: 30px;
}

.people-box-last {
    width: 200px;
    height: 100px;
    background-color: #343434;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 15px;
    background: url(./img/img-dog.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 4px 8px #2a0b9d;
    transition: 0.8s;
}


.people-box-last:hover {
    width: 190px;
    height: 90px;
    box-shadow: 3px 4px 8px #c5181866;
}